services:
  api:
    build:
      context: ./api
      network: host
    env_file: ./api/.env
    ports:
      - "8000:8000"

  web:
    build:
      context: ./web
      network: host
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL:-http://localhost:8000}
    ports:
      - "3000:3000"
    depends_on:
      - api
